<div class="container">
    <h1>Music app</h1>
    <div ng-controller="MusicCtrl">
        <p>Your taste profile ID: {{profileID}}</p>
        <p><button class="btn btn-default" ng-click="makePlaylist()">Load songs</button></p>
        <input name="userToSearch" id="userToSearchInput" class="form-control" type="text" ng-model="userToSearch" placeholder="Playlist URI To Build From" />
        <p><button class="btn btn-default" ng-click="loadUserArtists()">Load your artists!</button></p>
        <p>Total song count: {{trackCount}}</p>
        <p>Total artist count: {{userArtistsCount}}</p>
        <p>
            <button class="btn btn-default" ng-click="sendTastes()">Load tasteProfile</button>
            <button class="btn btn-default" ng-if="profileID" ng-click="getRandomPlaylist()">Show me some new songs!</button>
            <button class="btn btn-default" ng-click="recommendedArtists()">Show me some artists!</button>
            <button class="btn btn-default" ng-click="getSongsByBPM()">Show me some upbeat songs!</button>
            <button class="btn btn-default" ng-click="removeTasteProfile()">Remove taste profile!</button>
            <button class="btn btn-default" ng-click="loadRandomUserPlaylist()">Load Playlist From User Artists</button>
            <button class="btn btn-default" ng-click="loadRandomUserPlaylistForSongs()">Load Playlist From User Artists</button>
            <button class="btn btn-default" ng-click="makeRandomPlaylist()">Show the Playlist</button>
        </p>
        <div ng-if="mainstreamness != null && freshness != null">
            <p>
                Mainstreamness: {{mainstreamness}}%
            </p>
            <p>
                Freshness: {{freshness}}%
            </p>
        </div>
        <input name="banArtist" id="banArtistInput" class="form-control" type="text" ng-model="artistToBan" placeholder="Artist URI to Ban" />
        <button class="btn btn-default" ng-click="banArtist()">Ban this artist!</button>
        <p><button class="btn btn-default" ng-click="loadUserArtists()">Load your artists!</button></p>
        <button class="btn btn-default" ng-click="removeCurrentPlayingArtist()">Ban the currently playing artist!</button>
        <div ng-if="randomToplistSubset.length != 0 && suggestedArtists != null">
            You've been listening
            <carousel interval="6000">
                <slide ng-repeat="topArtist in randomToplistSubset" active="artist.active">
                    <artist-image id="artistImage" uriValue="{{topArtist.uri}}" artistName="{{topArtist.name}}"></artist-image>
                </slide>
            </carousel>
            lately.. Listen to these guys!
            <carousel interval="6000">
                <slide ng-repeat="newArtist in suggestedArtists" active="artist.active">
                    <artist-image id="artistImage" uriValue="{{newArtist.uri}}" artistName="{{newArtist.name}}"></artist-image>
                </slide>
            </carousel>
        </div>
        <div ng-if="playlistList">
            {{playlistList}}
        </div>
        <div ng-if="topArtists != null">
            <h1>Top Artists:</h1>
            <ul style="list-style-type: none;" ng-repeat="artist in topArtists">
                <li>{{artist.name}}</li>
            </ul>
        </div>
    </div>

</div>