<div>
    <h1>Music app</h1>
    <div ng-controller="MusicCtrl">
        <p>Your taste profile ID: {{profileID}}</p>
        <button ng-click="makePlaylist()">Load songs</button>
        <p>Total song count: {{trackCount}}</p>
        <button ng-click="sendTastes()">Load tasteProfile</button>
        <button ng-click="getRandomPlaylist()">Show me some new songs!</button>
        <div ng-if="mainstreamness != null && freshness != null">
            <p>
                Mainstreamness: {{mainstreamness}}%
            </p>
            <p>
                Freshness: {{freshness}}%
            </p>
        </div>
        <div ng-if="topArtists != null">
            <h1>Top Artists:</h1>
            <ul style="list-style-type: none;" ng-repeat="artist in topArtists">
                <li>{{artist.name}}</li>
            </ul>
        </div>

        <ul style="list-style-type: none;" ng-repeat="song in playlistSongs">
            <li>{{song}}</li>
        </ul>
    </div>

</div>