<div class="container">
    <h1>Music app</h1>
    <div ng-controller="MusicCtrl">
        <p>Your taste profile ID: {{profileID}}</p>
        <p><button ng-click="makePlaylist()">Load songs</button></p>
        <p>Total song count: {{trackCount}}</p>
        <p>
            <button ng-click="sendTastes()">Load tasteProfile</button>
            <button ng-click="getRandomPlaylist()">Show me some new songs!</button>
            <button ng-click="recommendedArtists()">Show me some artists!</button>
        </p>
        <div ng-if="mainstreamness != null && freshness != null">
            <p>
                Mainstreamness: {{mainstreamness}}%
            </p>
            <p>
                Freshness: {{freshness}}%
            </p>
        </div>
        <div ng-if="randomToplistSubset.length != 0 && suggestedArtists != null">
            You've been listening to <p ng-repeat="artist in randomToplistSubset">{{artist.name}}, <div id="artistImage" artist-img></div> </p>lately.. Listen to these guys!
            <span ng-repeat="artist in suggestedArtists"><br/>{{artist.name}}</span>
        </div>
        <!--<table class="scopesList table" ng-if="playlistSongs.length != 0">-->
            <!--<thead><tr>-->
                <!--<span>Playlist:</span>-->
            <!--</tr></thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="song in playlistSongs">-->
                <!--<td>{{song}}</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
        <div ng-if="playlistList">
            {{playlistList}}
        </div>
        <div ng-if="topArtists != null">
            <h1>Top Artists:</h1>
            <ul style="list-style-type: none;" ng-repeat="artist in topArtists">
                <li>{{artist.name}}</li>
            </ul>
        </div>
    </div>

</div>